{% load static %}
<footer id="contacts">
    <h2 class="w-100 text-center">Haideri Greens © Pvt. Ltd.</h2>
    <div class="container-fluid d-flex justify-content-center pt-2 flex-wrap alogn-items-center">
        <div class="col-sm-4">
            <div class="card shadow" style="background-color:rgba(218, 165, 32, 0.528);border:none;">

                <div class="card-body text-center">
                    <h5 class="card-title">Contact us (Business)</h5>
                    <p class="card-text">
                    <p>C.E.O. - Idris Vohra</p>
                    <p>Main Branch: Babra, Gujarat, India</p>
                    <a href="mailto:">Email</a><br>
                    <a href="">Message</a><br>
                    <a href="">Instagram</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow" style="background-color:rgba(218, 165, 32, 0.528);border:none;">
                <div class="card-body text-center">
                    <h5 class="card-title">Customer Care</h5>
                    <p class="card-text">
                    <p>Call on Toll free no: +91 9106930717</p>
                    <p><a href="">Report a complain</a></p>
                    <p><a href="">Terms</a></p>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow" style="background-color:rgba(218, 165, 32, 0.528);border:none;">

                <div class="card-body text-center">
                    <h5 class="card-title">Organizations</h5>
                    <p class="card-text">
                    <p><a href="">Haideri Crops</a></p>
                    <p><a href="">Haideri Dairy</a></p>
                    <p><a href="">Haideri Meats</a></p>
                    <p><a href="">Haideri Philantrophy</a></p>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow" style="background-color:rgba(218, 165, 32, 0.528);border:none;">

                <div class="card-body text-center">
                    <h5 class="card-title"><a href="">Team</a></h5>
                </div>
            </div>
        </div>
</footer>
<script src="{% static 'JS/svg.js'%}"></script>
<script src="{% static 'JS/scripts.js'%}"></script>