{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Haideri Greens - Visit us</title>
    {% include "head.html" %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
        <div class="container-fluid">
          <div class="nav-brand">
            <div class="groupLogo">
              <img src="/static/images/IconImage4.png" alt="Logo Image" class="img-fluid">
              <i class="logo"></i>
            </div>
          </div>
          <button class="navbar-toggler btn-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="About">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="Visit">Visit us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Donate">Donate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="basket">
                  <i class="basket"></i>
                </a>
              </li>
              <li class="login-btn">
                <a href="login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    {% include "footer.html" %}
</body>
</html>