{% comment %} {% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}this is login paget{% endblock body %}
 {% endcomment %}

<html>
<head>
    <title>login form</title>
</head>
    
<body>
    <center>
        <form method="post" action="test">
            Name:
            <input type="text" name="name"><br><br>
            type:
            <input type="text" name="type"><br><br>
            description:
            <input type="text" name="description"><br><br>
            <input type="submit">

        </form>
    </center>
</body>
</html>