:root{
    --primary-color:aliceblue;
    --secondary-color:rgb(18, 18, 20);
    --feature-color:rgb(31, 76, 223);
    --little-text-color:grey;
    --active-color:darkgrey;
}

body{
    background-color:aliceblue !important;
}

h1{
    color:var(--primary-color);
}

h1 span{
    color: var(--feature-color);
}