{% extends 'base.html' %}

{% block title %}about{% endblock title %}

{% block body %}

<div class="container my-4">
    <h1 class="my-3 text-center">ABOUT SHARMA TYRES</h1>
    <hr>

    <div class="container px-0 my-5">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/img/c15.jfif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/c6.jfif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/c8.jfif" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-body">
            <h3 class="card-title">66 Years of Sharma Tyres</h3>
            <p class="card-text">Sharma Tyres Ltd is an international tyre manufacturer and the leading tyre brand in
                India. It is built around the core principles of creating stakeholder value through reliability in its
                products and dependability in its relationships. The company has a total of six manufacturing units -- 4
                in India and 1 each in the Netherlands and Hungary. India’s fifth and 7th globally, is coming up in
                Andhra Pradesh.</p>

            <p>    The company markets its products under its two global brands – <b>Sharma and Vredestein</b>, and its products
                are available in over 100 countries through a vast network of branded, exclusive and multi-product
                outlets. The product portfolio of the company includes the entire range of passenger car, SUV, MUV,
                light truck, truck-bus, two-wheeler, agriculture, industrial, specialty, bicycle and off-the-road tyres,
                and retreading material and tyres.</p>

            <p>    Headquartered in Gurgaon, India, the company has a turnover of <b>US$ 2.3 billion</b> and ranks among the
                global top 20 tyre makers. Sharma Tyres has been recognised as the ‘Best Company To Work For’ both in
                Asia and Europe in the recent past, and has won several accolades for its HIV-AIDS awareness and
                prevention initiative for the trucking and allied communities, and for its Waste Management initiatives
                in the community.</p>

            <p>    <b>Acquired entities:</b> In November 2015, Sharma Tyres acquired <b>Reifencom GmbH</b>, one of the largest tyre
                distributors in Germany, with both online and offline presence. In May 2009, the company acquired <b>Sharma
                Vredestein BV</b>(originally Vredestein Banden BV) in the Netherlands, producer of niche high end passenger
                car and specialty tyres, and with an extensive distribution network across Europe.  <a href="#" style="text-decoration:none;">Read more <--</a></p>
        </div>
    </div>
</div>

<div class="cointainer my-4">
    <div class="card text-center">
        <div class="card-header" style="background-color:darkmagenta;color:white;">
            Subscribe for Special Promotions and Deals
        </div>
        <div class="card-body">
            <h5 class="card-title my-3">SHARMA TYRES</h5>
            <p class="card-text">Brands : BMW, FORD, MUSTANG, BUGATI, TOYOTA.</p>
            <p class="card-text">Address : 1a, Shiv Shakti residency first floor,near Palm
                Hotel,Bapunagar,Ahmedabad-380024</p>
            <p class="card-text">Partners : Sharma , MRF, Goodyear, Continental, Michelin tyres.</p>
            <a href="#" class="btn btn-secondary">Subscribe</a>
        </div>
        <div class="card-footer text-muted" style="background-color:ghostwhite">
            Copyright © 2022 . All rights reserved.
        </div>
    </div>
</div>
{% endblock body %}