{% extends 'base.html' %}

{% block title %}Blogs{% endblock title %}

{% block body %}

<div class="container my-4">
    <h1 class="my-3 text-center">SHARMA TYRES BLOGS (27)</h1>
    <hr>
    <div class="card my-5">
        <h5 class="card-header" style="border:none">2022 - 07 - 01</h5>
        <div class="card-body">
            <h5 class="card-title">Best SUV Tyres in India</h5>
            <p class="card-text">The market for SUVs has been steadily growing in India. In recent years, compact SUVs
                have become quite popular among the urban middle class and rural buyers. The sturdy nature of SUVs and
                higher ground clearance makes them ideal for Indian roads. However, the stance of every car is defined
                by its tyres, and the same is true for SUVs as well.</p>
            <a href="#" class="btn btn-link">Read more</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header" style="border:none">2022 - 06 - 21</h5>
        <div class="card-body">
            <h5 class="card-title">Off-Road Tyres</h5>
            <p class="card-text">I am using ALNAC 4G Life tyres for 2 yrs and I've never had a punctured tyre. Love the
                durability. All authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel
                alignment and wheel balancing facilities to ensure the highest levels of tyre care for your vehicle. All
                authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel alignment and
                wheel balancing facilities.</p>
            <a href="#" class="btn btn-link">Read more</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header" style="border:none">2022 - 06 - 01</h5>
        <div class="card-body">
            <h5 class="card-title">Best Tyres for Cars</h5>
            <p class="card-text">I am using ALNAC 4G Life tyres for 2 yrs and I've never had a punctured tyre. Love the
                durability. All authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel
                alignment and wheel balancing facilities to ensure the highest levels of tyre care for your vehicle. All
                authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel alignment and
                wheel balancing facilities.</p>
            <a href="#" class="btn btn-link">Read more</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header" style="border:none">2022 - 05 - 15</h5>
        <div class="card-body">
            <h5 class="card-title">Avoid Tyres Damage</h5>
            <p class="card-text">I am using ALNAC 4G Life tyres for 2 yrs and I've never had a punctured tyre. Love the
                durability. All authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel
                alignment and wheel balancing facilities to ensure the highest levels of tyre care for your vehicle. All
                authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel alignment and
                wheel balancing facilities.</p>
            <a href="#" class="btn btn-link">Read more</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header" style="border:none">2022 - 04 - 27</h5>
        <div class="card-body">
            <h5 class="card-title">Fix Tyres Quickly !!</h5>
            <p class="card-text">I am using ALNAC 4G Life tyres for 2 yrs and I've never had a punctured tyre. Love the
                durability. All authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel
                alignment and wheel balancing facilities to ensure the highest levels of tyre care for your vehicle. All
                authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel alignment and
                wheel balancing facilities.</p>
            <a href="#" class="btn btn-link">Read more</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header" style="border:none">2022 - 03 - 21</h5>
        <div class="card-body">
            <h5 class="card-title">How to Replace Car Tyres ?</h5>
            <p class="card-text">I am using ALNAC 4G Life tyres for 2 yrs and I've never had a punctured tyre. Love the
                durability. All authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel
                alignment and wheel balancing facilities to ensure the highest levels of tyre care for your vehicle. All
                authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel alignment and
                wheel balancing facilities.</p>
            <a href="#" class="btn btn-link">Read more</a>
        </div>
    </div>
</div>

<div class="cointainer my-4">
    <div class="card text-center">
        <div class="card-header" style="background-color:darkmagenta;color:white;">
            Subscribe for Special Promotions and Deals
        </div>
        <div class="card-body">
            <h5 class="card-title my-3">SHARMA TYRES</h5>
            <p class="card-text">Brands : BMW, FORD, MUSTANG, BUGATI, TOYOTA.</p>
            <p class="card-text">Address : 1a, Shiv Shakti residency first floor,near Palm
                Hotel,Bapunagar,Ahmedabad-380024</p>
            <p class="card-text">Partners : Apollo , MRF, Goodyear, Continental, Michelin tyres.</p>
            <a href="#" class="btn btn-secondary">Subscribe</a>
        </div>
        <div class="card-footer text-muted" style="background-color:ghostwhite">
            Copyright © 2022 . All rights reserved.
        </div>
    </div>
</div>
{% endblock body %}