{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="cointainer-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <!-- use this for random images -->
                <!-- <img src="https://source.unsplash.com/1600x600/?cream,strawberry" class="d-block w-100" alt="..."> -->

                <img src="/static/img/c1.jfif" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Welcome to Sharma Tyres</h5>
                    <p>For a smooth life and better Experience.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/c8.jfif" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>We make Tyres with extra care</h5>
                    <p>Have a happy journey with the best rides.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/c7.jfif" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>We make Tyres Since 1999</h5>
                    <p>Quality Products, Quality Service.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container my-5">
    <hr>
    <h1 class="my-3 text-center">Find Dealers</h1>
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">FIND DEALER</span>
                <input type="text" class="form-control"
                    placeholder="You can search dealers by name, city and state etc." aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </form>
    </nav>
    <div class="card" style="border:none;">
        <div class="card-body">
            <h5 class="card-title">Use Your Location</h5>
            <p class="card-text">You can also search by your vehicle model, tyre size or tyre type. e.g. you can type
                "Honda City" or "175/65 R14" or "Amazer 4G LIFE".</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="card text-center" style="border:none;">
        <div class="card-body">
            <h1 class="card-title">What's New</h1>
            <p class="card-text">Join us to Go The Distance.</p>

            <img src="/static/img/c18.jfif" class="card-img-top my-4" alt="...">
            <p class="card-text my-4">New Offers and Deals : Get extra 10% discounts for purchase of 4 tyres.</p>
            <a href="#" class="btn btn-success">Go >> </a>
        </div>
    </div>
</div>

<div class="container my-3">
    <h1 class="my-2 text-center">Featured Products (o))</h1>
    <p class="card-text text-center"><b>Premium Products !!</b></p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-5">
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c2.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">ALNAC</h5>
                    <h6 class="card-subtitle mb-2 text-muted">175/70R14</h6>
                    <p class="card-text">The Alnac offers high-quality driving precision, outstanding control, improved
                        braking.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 5,161.04</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c4.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">ALNAC 4G</h5>
                    <h6 class="card-subtitle mb-2 text-muted">185/70R14</h6>
                    <p class="card-text">The Alnac 4G offers high-quality driving precision, outstanding control,
                        improved braking.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 4,452.10</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c5.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">STINLL GOLD</h5>
                    <h6 class="card-subtitle mb-2 text-muted">215/75R15</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 7,751.00</b></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c9.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">APTERRAHT</h5>
                    <h6 class="card-subtitle mb-2 text-muted">235/70R16</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 8,724.04</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c10.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">APTERRAHT</h5>
                    <h6 class="card-subtitle mb-2 text-muted">175/75R16</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 6,706.00</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c12.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">STINLL PLATINUM</h5>
                    <h6 class="card-subtitle mb-2 text-muted">215/75R15</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 7,809.00</b></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h1 class="my-5 text-center">Ratings</h1>
    <div class="card">
        <h5 class="card-header" style="border:none">Customer Testimonials</h5>
        <div class="card-body">
            <h5 class="card-title">AMIT KUMAR</h5>
            <p class="card-text">I am using ALNAC 4G Life tyres for 2 yrs & I've never had a punctured tyre. Love the
                durability. All authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel
                alignment and wheel balancing facilities to ensure the highest levels of tyre care for your vehicle.</p>
            <a href="#" class="btn btn-success">Next >></a>
        </div>
        <div class="card-body">
            <h5 class="card-title">SHIV YADAV</h5>
            <p class="card-text">I am using ALNAC 4G Life tyres for 2 yrs & I've never had a punctured tyre. Love the
                durability. All authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel
                alignment and wheel balancing facilities to ensure the highest levels of tyre care for your vehicle. All
                authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel alignment and
                wheel balancing facilities to ensure the highest levels of tyre care for your vehicle.</p>
            <a href="#" class="btn btn-success">Next >></a>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="my-5 text-center">A journey of a thousand miles <br> begins with a single step</h1>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/c15.jfif" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/img/c6.jfif" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/img/c8.jfif" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container my-5">
    <h1>Shop for Tyres Online</h1>
    <p>Sharma Tyres Limited is one of the largest tyre manufacturers in India. Several generations of
        Indian motorists continue to trust Sharma Tyres for ride quality and comfort. The brand has over 5,000
        authorized dealerships, including over 2,500 exclusive Sharma Tyre shops across the country. Apart from car
        tyres and SUV tyres, the company also started manufacturing motorcycle tyres in 2016. Sharma Tyres actively
        invests in bringing innovative tyre technologies to the Indian market. The brand has recently expanded its
        customer service experience by updating safety and convenience measures at authorized outlets and stores.</p>
    <p>The online tyre shop further extends the promise of quality, safety, and service. Car and bike owners can now
        shop for Sharma Tyres online, compare tyre prices and features, and opt for self or assisted offline fitment.
        Additional benefits like extended warranty and unconditional claims are also valid for tyres purchased from
        Sharma Tyres online shop.</p>

    <h4>Range of Sharma Tyres available online</h4>

    <p class="lh-sm">This is a long paragraph written to show how the line-height of an element is affected by our
        utilities. Classes are applied to the element itself or sometimes the parent element. These classes can be
        customized as needed with our utility API.</p>
    <p class="lh-base">This is a long paragraph written to show how the line-height of an element is affected by our
        utilities. Classes are applied to the element itself or sometimes the parent element. These classes can be
        customized as needed with our utility API.</p>

    <h4>Tubeless Tyres For Car & Bikes</h4>

    <p class="lh-base">This is a long paragraph written to show how the line-height of an element is affected by our
        utilities. Classes are applied to the element itself or sometimes the parent element. These classes can be
        customized as needed with our utility API.</p>
    <p>Tubeless tyres, in general, are considered superior to tube-type tyres due to their lighter build that also helps
        with fuel economy per liter. Also, unlike tube-type tyres, a tubeless car tyre or tubeless bike tyre does not
        have tubes that can get pinched between the tyre wall and the rim, reducing the possibilities of accidental
        punctures or PSI loss. Lastly, since the air is inside the tyre itself, there's less chance of instability at
        higher speeds as air distribution is more uniform.</p>
    <p>Now buy the best tubeless bike tyres, tubeless car tyres, and tubeless SUV tyres online from shop.Sharmatyres.com
        and get exclusive deals, offers, and discounts directly from the brand.</p>
</div>

<div class="cointainer my-4">
    <div class="card text-center">
        <div class="card-header" style="background-color:darkmagenta;color:white;">
            Subscribe for Special Promotions and Deals
        </div>
        <div class="card-body">
            <h5 class="card-title my-3">SHARMA TYRES</h5>
            <p class="card-text">Brands : BMW, FORD, MUSTANG, BUGATI, TOYOTA.</p>
            <p class="card-text">Address : 1a, Shiv Shakti residency first floor,near Palm
                Hotel,Bapunagar,Ahmedabad-380024</p>
            <p class="card-text">Partners : Apollo , MRF, Goodyear, Continental, Michelin tyres.</p>
            <a href="#" class="btn btn-secondary">Subscribe</a>
        </div>
        <div class="card-footer text-muted" style="background-color:ghostwhite">
            Copyright © 2022 . All rights reserved.
        </div>
    </div>
</div>
{% endblock body %}