{% extends 'base.html' %}

{% block title %}shop{% endblock title %}

{% block body %}

<div class="container my-4">
    <h1 class="my-2 text-center">APOLLO TYRES SHOP</h1>

    <hr>
    <div class="container px-0">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand px-2" href="#">ALL WHEEL TYRES</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link px-5" aria-current="page" href="#">Bikes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-5" href="#">Cycles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-5" href="#">Small Cars</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-5" href="#">SUV Cars</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-5" href="#">Luxury Car</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-5" href="#">Trucks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-5" href="#">Tractor</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    <hr>

    <h3 class="my-2">Products For You</h3>
    <p class="card-text">Lowest Prices, Best Quality.</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c18.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">ALNAC</h5>
                    <h6 class="card-subtitle mb-2 text-muted">175/70R14</h6>
                    <p class="card-text">The Alnac offers high-quality driving precision, outstanding control, improved
                        braking.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 5,161.04</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c16.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">ALNAC 4G</h5>
                    <h6 class="card-subtitle mb-2 text-muted">185/70R14</h6>
                    <p class="card-text">The Alnac 4G offers high-quality driving precision, outstanding control,
                        improved braking.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 4,452.10</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c17.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">STINLL GOLD</h5>
                    <h6 class="card-subtitle mb-2 text-muted">215/75R15</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 7,751.00</b></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c13.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">APTERRAHT</h5>
                    <h6 class="card-subtitle mb-2 text-muted">235/70R16</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 8,724.04</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c10.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">APTERRAHT</h5>
                    <h6 class="card-subtitle mb-2 text-muted">175/75R16</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 6,706.00</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c12.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">STINLL PLATINUM</h5>
                    <h6 class="card-subtitle mb-2 text-muted">215/75R15</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 7,809.00</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c3.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">APTERRAHT</h5>
                    <h6 class="card-subtitle mb-2 text-muted">175/75R16</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 6,706.00</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c4.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">STINLL PLATINUM</h5>
                    <h6 class="card-subtitle mb-2 text-muted">215/75R15</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 7,809.00</b></small>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

<div class="container my-3">
    <h1 class="my-2">Top Products</h1>
    <p class="card-text">Premium Products !!</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c2.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">ALNAC</h5>
                    <h6 class="card-subtitle mb-2 text-muted">175/70R14</h6>
                    <p class="card-text">The Alnac offers high-quality driving precision, outstanding control, improved
                        braking.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 5,161.04</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c4.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">ALNAC 4G</h5>
                    <h6 class="card-subtitle mb-2 text-muted">185/70R14</h6>
                    <p class="card-text">The Alnac 4G offers high-quality driving precision, outstanding control,
                        improved braking.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 4,452.10</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c5.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">STINLL GOLD</h5>
                    <h6 class="card-subtitle mb-2 text-muted">215/75R15</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 7,751.00</b></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c9.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">APTERRAHT</h5>
                    <h6 class="card-subtitle mb-2 text-muted">235/70R16</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 8,724.04</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c10.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">APTERRAHT</h5>
                    <h6 class="card-subtitle mb-2 text-muted">175/75R16</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 6,706.00</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/c12.jfif" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-title">STINLL PLATINUM</h5>
                    <h6 class="card-subtitle mb-2 text-muted">215/75R15</h6>
                    <p class="card-text">Long lasting SUV tyre for maximum durability and enhanced steering.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-primary"><a href="/services/" style="color:white;text-decoration:none;">Buy</a></button>
                        </div>
                        <small class="text-muted"><b>Rs. 7,809.00</b></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h3 class="my-5">Ratings and Reviews</h3>
    <div class="card">
        <h5 class="card-header" style="border:none">Customer Testimonials</h5>
        <div class="card-body">
            <h5 class="card-title">AMIT KUMAR</h5>
            <p class="card-text">I am using ALNAC 4G Life tyres for 2 yrs & I've never had a punctured tyre. Love the
                durability. All authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel
                alignment and wheel balancing facilities to ensure the highest levels of tyre care for your vehicle.</p>
            <a href="#" class="btn btn-success">Next >></a>
        </div>
        <div class="card-body">
            <h5 class="card-title">SHIV YADAV</h5>
            <p class="card-text">I am using ALNAC 4G Life tyres for 2 yrs & I've never had a punctured tyre. Love the
                durability. All authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel
                alignment and wheel balancing facilities to ensure the highest levels of tyre care for your vehicle. All
                authorized Apollo Tyres outlets are equipped with the latest fitment machinery, wheel alignment and
                wheel balancing facilities to ensure the highest levels of tyre care for your vehicle.</p>
            <a href="#" class="btn btn-success">Next >></a>
        </div>
    </div>
</div>

<div class="cointainer my-4">
    <div class="card text-center">
        <div class="card-header" style="background-color:darkmagenta;color:white;">
            Subscribe for Special Promotions and Deals
        </div>
        <div class="card-body">
            <h5 class="card-title my-3">SHARMA TYRES</h5>
            <p class="card-text">Brands : BMW, FORD, MUSTANG, BUGATI, TOYOTA.</p>
            <p class="card-text">Address : 1a, Shiv Shakti residency first floor,near Palm
                Hotel,Bapunagar,Ahmedabad-380024</p>
            <p class="card-text">Partners : Apollo , MRF, Goodyear, Continental, Michelin tyres.</p>
            <a href="#" class="btn btn-secondary">Subscribe</a>
        </div>
        <div class="card-footer text-muted" style="background-color:ghostwhite">
            Copyright © 2022 . All rights reserved.
        </div>
    </div>
</div>

{% endblock body %}