{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Home</title>
</head>
<body>
    <h1>Hello, {{fname}} This is Home page</h1>
    <h3>Your Information:</h3>
    <table>
        <tr>
            <td>First Name:</td>
            <td>{{fname}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{lname}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{password}}</td>
        </tr>
        {% for i in data%}
        <tr>
            <td>{{i.fname}}</td>
        </tr>
        {%endfor %}
    </table>
    <img src="{% static 'images/deliveryboy.png'%}" alt="">
</body>
</html>